.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#brand_logo{
  color: rgb(10, 102, 194);
  height: 40px!important;
  width: 40px!important;
}

.list-group-item {
  background-color: inherit!important;
  border: 0px!important;
}

.navItems {
  text-decoration: none !important;
  font-size: 12px;
}

#root > div > nav > div {
  flex-wrap: nowrap;
}

.navIcons {
  width: 24px;
  height: 24px;
  color: rgb(102, 102, 102) !important;
}

.navText {
  color: rgb(102, 102, 102) !important;
}

.header {
  border: 1px solid
}