body {
  background-color: rgb(243, 242, 239)!important;
}

#brand_logo{
  color: rgb(10, 102, 194);
  height: 40px!important;
  width: 40px!important;
}

.list-group-item {
  background-color: inherit!important;
  border: 0px!important;
}

.navItems {
  font-size: 12px;
}

#root > div > nav > div {
  flex-wrap: nowrap;
}

.navIcons {
  width: 24px;
  height: 24px;
  color: rgb(102, 102, 102) !important;
}

.navText {
  color: rgb(102, 102, 102) !important;
}

.header {
  border: 1px solid rgb(216, 216, 216);
  border-radius: 10px
}

.header > div:first-child > img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px
}
.navItems > a {
  text-decoration: none !important;
}

.headerButton {
  width: 100px;
  height: 35px;
  align-self: flex-start;
  border-radius: 1rem !important;
  padding: 0!important;
}

.profile {
  position: absolute;
  left: 50px!important;
  bottom: 140px!important;
  border: 4px solid white;
  border-radius: 100px;
  width: 200px;
  height: 200px
}

.boldText {
  font-weight: bold!important;
}

.borderTop {
  border-top: 1px solid rgb(102, 102, 102, 0.5)!important;
}

.activityImg {
  width: 50px;
  height: 50px;
}

.post-icons{
  width: 24px!important;
  height: 24px!important;
  vertical-align: top!important;
  margin-right: 1%;
}

.photo-icon{
  color: lightskyblue
}

.video-icon{
  color: lightgreen
}

.event-icon{
  color: lightsalmon
}

.article-icon{
  color: lightcoral
}

.no-decoration:hover{
  text-decoration: none;
}

.shade:hover{
  background-color: lightgrey
}

.small-text{
  font-size: 12px;
}